<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-5">
      <img
        src="assets/img/bookglasses.png"
        class="center"
        width="140"
        height="140"
      />
      <h2>Search Book</h2>
      <p>
        Search for a specific book. Display all books with title, author, and display if there is a book copy.
      </p>
      <form class="form-inline waves-light" name="searchBookForm" mdbWavesEffect>
        <div class="md-form mt-0">
          <input [(ngModel)]="searchBookForm" name="searchBookForm" class="form-control mr-sm-2" type="text" placeholder="Search">
        </div>
        <div>
          <button class="btn btn-secondary" (click)=searchBook()
            >Search</button
          >
        </div>
      </form>
    </div>
    <!-- /.col-lg-2 -->
    <div class="col-lg-2"></div>
    <div class="col-lg-5">
      <img
        src="assets/img/checkloans.png"
        class="center"
        width="140"
        height="140"
      />
      <h2>Check Loans</h2>
      <p>
        Enter Card Number to check current and previously rented books.
      </p>
      <form class="form-inline waves-light" name="searchLoanForm" mdbWavesEffect>
        <div class="md-form mt-0">
          <input [(ngModel)]="searchLoanForm" name="searchLoanForm" class="form-control mr-sm-2" type="text" placeholder="Card Number" required>
        </div>
          <div>
            <button [disabled]="!searchLoanForm"(click)="searchLoan()" class="btn btn-secondary"
              >Check</button
            >
          </div>
      </form>
    </div>
  </div>
  <!-- /.row -->
  <hr class="featurette-divider" />

  <!-- /END THE FEATURETTES -->
</div>
<!-- /.container -->

