<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img
        src="assets/img/author.png"
        class="center"
        width="180"
        height="145"
      />
      <h3>Author Services</h3>
      <p>
        Click below buttons to manage author services
      </p>
      <p>
        <a class="btn btn-secondary" href="/lms/admin/author" role="button"
          >View all authors »</a
        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img src="assets/img/book.png" class="center" width="215" height="140" />
      <h2>Book Services</h2>
      <p>
        Click below buttons to manage author services
      </p>
      <p>
        <a
          class="btn btn-secondary"
          href="https://getbootstrap.com/docs/4.4/examples/carousel/#"
          role="button"
          >View details »</a
        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img
        src="assets/img/branch.png"
        class="center"
        width="205"
        height="140"
      />
      <h2>Branch Services</h2>
      <p>
        Click below buttons to manage author services
      </p>
      <p>
        <a
          class="btn btn-secondary"
          href="https://getbootstrap.com/docs/4.4/examples/carousel/#"
          role="button"
          >View details »</a
        >
      </p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->
  <hr class="featurette-divider" />

  <!-- /END THE FEATURETTES -->
</div>
<!-- /.container -->
